html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

button {
color: white;
font-weight: bold;
cursor: pointer;
background-color: #2289ff;
border-radius: 30px;
border: 0;
padding: 15px 20px;
transition: background-color 0.5s;
outline: 0;
}

.button-secondary {
background: none;
color: #2289ff;
transition: color 0.5s;
}

.button-secondary:hover {
background: none;
color: #1c6ac4;
}

button:hover {
background-color: #1c6ac4;
}

.container {
padding: 0 2%;
margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
